* {
    margin: 0px;
}

/* body{
    background-image: url('background.png');
    background-size: 100%;
    align-items: center;
    background-repeat: no-repeat;   
} */

.background {
    height: 100%;
    position: absolute;
    z-index: -1;
}

.main {
    height: 100vh;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.3, 1.3);
    }
}

ul {
    list-style-type: none;
    padding-left: 45vw;
    padding-top: 15px;
}

li {
    padding: 20px;
    margin-left: 20px;
    color: white;
    padding-left: 20px;
    background-color: black;
    border-radius: 40px;
    cursor: pointer;
}

.navh {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24);
    z-index: 1000;
}

.overlay h1 {
    text-align: center;
    color: #bbc2cc;
    font-size: 7em;
    margin-top: 20%;
    font-family: "Helvetica";
    letter-spacing: 4px;
    animation: zoomIn 3s ease infinite;
}

.head-div {
    display: flex;
    height: 8%;
    vertical-align: middle;
    width: 100%;
    opacity: 100%;
}

.head-div p {
    padding: 15px;
}

.logo {
    height: 65px;
    display: inline;
    margin-top: 5px;
    margin-left: 10px;
}

.logoname {
    font-family: "Lato", sans-serif;
    display: inline;
    font-size: 2rem;
    font-weight: 500;
    vertical-align: 1.3rem;
    padding-left: 15px;
}

.textinp {
    height: 8%;
    width: 50%;
    opacity: 30%;
    border-radius: 50px;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    border-color: black;
    padding-left: 20px;
}

.submit {
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    border: none;
}

.textinp:hover,
.textinp::selection,
.textinp:focus,
.submit:hover,
.submit::selection,
.submit:focus {
    opacity: 80%;
    outline: none;
}

.mainbg {
    width: 100%;
    position: absolute;
}

.userlogo {
    height: 65px;
    display: inline;
    margin-top: 5px;
    margin-right: 10px;
}

.input {
    margin-top: 10%;
    /* margin-left:35% ; */
    align-items: center;
}

.location .city {
    color: rgb(24, 23, 23);
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 40px;
    font-family: "Lato", sans-serif;
}

.location .date {
    color: rgb(26, 24, 24);
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

.current .temp {
    color: rgb(19, 18, 18);
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    font-family: "Lato", sans-serif;
}

.current .temp span {
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.current .weather {
    color: rgb(31, 28, 28);
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    font-family: "Lato", sans-serif;
}

.current .hi-low {
    color: rgb(36, 32, 32);
    font-size: 24px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    margin-bottom: 92.1px;
}
.footer {
    background-color: rgb(32, 17, 0);
    color: azure;

    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: "Lato", sans-serif;
}

.monospace-text {
    font-family: JetBrains Mono, monospace;
}

.working-code {
    font-family: JetBrains Mono, monospace;
    width: min-content;
    text-align: left;
}

.working-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-family: "Lato", sans-serif;

    padding: 20px 10% 20px 10%;
}

.about-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-family: "Lato", sans-serif;

    padding: 20px 10% 20px 10%;
}

/* .cont{
    text-align: center;
    background-color:rgba(16, 105, 133, 0.712);
    opacity: 60%;
  }   */

/* #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    
  }

  .overlaydiv{
    position: absolute;
    top: 25%;
    left: 25%;
    height:50%;
    width: 50%;
    font-size: 50px;
    background-color: white;
    opacity: 70%;
    border-radius: 25px;
  } */
